#menu {
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  box-shadow: 14px 3px 20px -3px rgba(0, 0, 0, 0.53);
  border: none;
}
.sub-menu {
  list-style: none;
  padding: 10px;
}
.menu-item {
  list-style-type: none;
  /* padding: 10px; */
  margin-left: 15px;
}
.menu-item li {
  padding: 20px;
}
.menu-item li:hover {
  color: white;
  background-image: linear-gradient(to right, #49b4c9 , #7b75ee);
  border-radius: 10px;
  transition: background-image 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

